{% extends 'admin_home.html' %}
{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">phone number</th>
      <th scope="col">age</th>
      <th scope="col">hospital</th>
    </tr>
  </thead>
  {% for i in data %}
    <tr>
      <th scope="row">{{i.name}}</th>
      <td>{{i.email}}</td>
      <td>{{i.phone_number}}</td>
      <td>{{i.age}}</td>
      <td>{{i.hospital}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}